@charset "utf-8";
/* CSS Document */


/* visual */

#visual{width:100%; overflow: hidden; margin-top: 50px;}
#visual img{width:100%; z-index: 1; position: relative;}


/* contents */

.gnb_menu{width:100%; overflow: hidden; position: relative; z-index: 2; top:-4px}
.gnb_menu ul{width: 100%; overflow: hidden;}
.gnb_menu li{float: left; width:33.33%; text-align: center;}
.gnb_menu li:first-child{}
.gnb_menu li:nth-child(2){}
.gnb_menu li:nth-child(3){}
.gnb_menu img{}


/* tab */
.tab_btn{width:100%;height:40px;margin-top:10px; margin-left: 16%;}
.tab_btn li{float:left;margin-right:15px;}
.tab_btn li a{color:#000;font-size:20px; border:1px solid #fe8f47; display: block;}
.tab_btn li.active a{color:#fff;font-weight:bold; background: #fe8f47;}

.tab_cont{font-size:15px;line-height:1.7;padding-left:10px;box-sizing:border-box;margin-top:15px;}

/* 출발지 */
.depa{position: absolute;}
.depa2{position: absolute; z-index: 11; display: none;}

/* change */
.menu2_btn{color:#fff;font-size:40px;font-weight:bold;border-radius:50%;text-align:center;cursor:pointer;transition:all 0.5s;z-index:5; position: relative; top: 40px;}
.menu2_btn.active{transform:rotate(360deg);}


.cont1{width:100%; height: 380px;  margin-top:-23px; border:2px solid #eee;}
.cont1 .cont1_inner{width: 100%; overflow: hidden; margin: 0 auto;}

.cont1 .cont1_inner_1{width: 100%; height:135px; border-bottom:1px solid #d2d2d2;}
.cont1 .cont1_inner_1 p{font-size: 20px; color:#939393; text-align: center; line-height:133px;}

.cont1 .cont1_inner_1 img{}
.cont1 .cont1_inner_1 span:first-child{color:white; margin:0 0px 0 0;}
.cont1 .cont1_inner_1 span:last-child{}

.cont1 .cont1_inner_1 ul{width: 100%;}
.cont1 .cont1_inner_1 li{float: left; font-size: 20px; color:#939393; text-align: center; width: 33.33%;}
.cont1 .cont1_inner_1 li:first-child{padding-top:50px}
.cont1 .cont1_inner_1 input{font-size: 20px; width:60%; text-align: center;  border:none;}
.cont1 .cont1_inner_1 li:nth-last-child(2){}
.cont1 .cont1_inner_1 li:last-child{padding-top:50px}




.cont1 .cont1_inner_2{width: 100%; height: 125px; border-bottom:1px solid #d2d2d2; background:999;}
.cont1 .cont1_inner_2 ul{width:100%}
.cont1 .cont1_inner_2 li{font-size: 16px; color: #939393; float: left; text-align: center; width:33.33%; padding-top:50px}
.cont1 .cont1_inner_2 li:first-child{}
.cont1 .cont1_inner_2 input{width:100%; font-size: 16px; text-align: center; border:none;}
.cont1 .cont1_inner_2 li:nth-child(2){}
.cont1 .cont1_inner_2 li:last-child{}



.cont1 .cont1_inner_3{width: 100%; height:100px;}
/*.cont1 .cont1_inner_3 ul{overflow: hidden;}
.cont1 .cont1_inner_3 li{float: left; font-size: 24px;}
.cont1 .cont1_inner_3 li:first-child{}
.cont1 .cont1_inner_3 li:nth-child(2){}
.cont1 .cont1_inner_3 li:last-child{}*/

.cont1 .cont1_inner_3 label{font-size: 16px; width:33.33%; text-align: center; display:block; float:left; margin-top: 5%;}
.cont1 .cont1_inner_3 label:first-child{}
.cont1 .cont1_inner_3 label:nth-child(2){}
.cont1 .cont1_inner_3 label:last-child{}

.cont1 .cont1_inner_3 select{float: left; width:20%; height: 25px; text-align: center; padding-left:35px; box-sizing: border-box; border:1px solid #ccc;}
.cont1 .cont1_inner_3 .sel1{margin:1% 0 0 7%;}
.cont1 .cont1_inner_3 .sel2{margin:1% 0 0 13%;}
.cont1 .cont1_inner_3 .sel3{margin:1% 0 0 13%;}


.cont1 .flight_search{margin:50px auto; width: 150px;height: 40px;}
.cont1 .flight_search a{width: 150px;height: 40px; background: #ff6501;color:red; display: block; color: #fff; text-align: center; line-height: 40px; font-size: 18px;}

.cont2{width: 100%; overflow: hidden;background: #f3f4f6; margin-top: 100px; position: relative;padding:30px 0 ;box-sizing: border-box;}

.cont2 .cont2_1{width:100%;overflow: hidden;}
.cont2 .cont2_1 li{float: left;width:33.33333%;text-align: center;}

.cont2 .cont2_1 .a1{height:40px;}

.cont2 .cont2_2 {width:100%;overflow: hidden;margin-top:30px;}
.cont2 .cont2_2 li{float: left;width:25%;text-align: center;}

.cont2 .cont2_2 .a1{height:50px;}

.cont2 a{color:#000;}
.my1, .my2, .my3 , .my4, .my5, .my6, .my7{margin-top:5px;}





.cont3{width: 100%; overflow:hidden;margin-top: 50px; overflow: hidden;}
.cont3 img{width:100%;}
.cont3 p:first-child{margin-bottom:5px;}



/* slide */

.jssorb05 {
            position: absolute;
        }

        .jssorb05 div,
        .jssorb05 div:hover,
        .jssorb05 .av {
            position: absolute;
            /* size of bullet elment */
            width: 16px;
            height: 16px;
            background: url('../images/b05-2.png') no-repeat;
            overflow: hidden;
            cursor: pointer;
        }

        .jssorb05 div {
            background-position: -7px -7px;
        }

        .jssorb05 div:hover,
        .jssorb05 .av:hover {
            background-position: -37px -7px;
        }

        .jssorb05 .av {
            background-position: -67px -7px;
        }

        .jssorb05 .dn,
        .jssorb05 .dn:hover {
            background-position: -97px -7px;
        }

        .jssora22l,
        .jssora22r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 40px;
            height: 58px;
            cursor: pointer;
            background: url('../images/a22.png') center center no-repeat;
            overflow: hidden;
        }

        .jssora22l {
            background-position: -10px -31px;
        }

        .jssora22r {
            background-position: -70px -31px;
        }

        .jssora22l:hover {
            background-position: -130px -31px;
        }

        .jssora22r:hover {
            background-position: -190px -31px;
        }

        .jssora22l.jssora22ldn {
            background-position: -250px -31px;
        }

        .jssora22r.jssora22rdn {
            background-position: -310px -31px;
        }

        .jssora22l.jssora22lds {
            background-position: -10px -31px;
            opacity: .3;
            pointer-events: none;
        }

        .jssora22r.jssora22rds {
            background-position: -70px -31px;
            opacity: .3;
            pointer-events: none;
        }

