@charset "utf-8";
/* CSS Document */

/* banner */
#banner{width: 100%; overflow: hidden;}
#banner img{width: 100%; margin-top: 53px;}


/* content1 */
#content1{width: 100%; overflow: hidden; margin-top: 20px;}
#content1 h2{background: #f15a22; color: #fff; font-size: 15px; font-weight: normal; padding: 5px 15px; box-sizing: border-box;}

#content1 img{width: 100%;}
#content1 > div {width: 100%; background: #000; margin-bottom: 10px;}
#content1 > div:last-child{margin-right: 0;}
